.butts {position:absolute;
		margin-left:900px;
		margin-top:460px;
		z-index: 40;}

.buttsrev {position:absolute;
		   margin-left:955px;
		   margin-top:460px;
		   z-index: 40;}		

#butt  {display:block;		
		width:40px;
		height:40px;}
#butt2 {display:none;		
		width:40px;
		height:40px;}
#butt3 {display:none;		
		width:40px;
		height:40px;} 
#butt4 {display:none;		
		width:40px;
		height:40px;}
#butt5 {display:none;		
		width:40px;
		height:40px;}
#butt6 {display:none;		
		width:40px;
		height:40px;}
#butt7 {display:none;		
		width:40px;
		height:40px;}
#butt8 {display:none;		
		width:40px;
		height:40px;}

#butta  {display:block;		
		width:40px;
		height:40px;}
#butt2a {display:none;		
		width:40px;
		height:40px;}
#butt3a {display:none;		
		width:40px;
		height:40px;} 
#butt4a {display:none;		
		width:40px;
		height:40px;}
#butt5a {display:none;		
		width:40px;
		height:40px;}
#butt6a {display:none;		
		width:40px;
		height:40px;}
#butt7a {display:none;		
		width:40px;
		height:40px;}
#butt8a {display:none;		
		width:40px;
		height:40px;}		


.first {z-index: 1;
		clear:both;
		float:left;}

#imgholder {display:inline;
				position:absolute;
				margin-left:0px;
				width:1600px;
				height:900px;}


#exp1 {margin-top: 250px;
	   margin-left:802px ;
	   height:20px;
	   width:20px;
	   position:absolute;
	   z-index:10;
	   position:absolute;
	   clear:both;}		

#exp1a {margin-top: 250px;
	   margin-left:800px ;
	   height:20px;
	   width:20px;
	   position:absolute;
	   z-index:10;
	   clear:both;
	   display:none;}	

#exp2 {margin-top: 470px;
	   margin-left:760px ;
	   height:20px;
	   width:20px;
	   position:absolute;
	   z-index:10;
	   clear:both;}		   		

#exp2a {margin-top: 470px;
	   margin-left:760px ;
	   height:20px;
	   width:20px;
	   position:absolute;
	   z-index:10;
	   clear:both;
	   display:none;}	

#exp3 {margin-top: 110px;
	   margin-left:735px ;
	   height:20px;
	   width:20px;
	   position:absolute;
	   z-index:10;
	   clear:both;}		   		

#exp3a {margin-top: 110px;
	   margin-left:765px ;
	   height:20px;
	   width:20px;
	   position:absolute;
	   z-index:10;
	   clear:both;
	   display:none;}	


#wk {margin-top: 5px;
	   margin-left:0px ;
	   height:416px;file:///C:/Users/jose/Desktop/dancerbot/seq1b/j-cas0181.jpg
	   width:486px;
	   position:absolute;
	   z-index:10;
	   clear:both;
	   display:block;}	

#jcas {width:1536px;
	   height:864px;
	   padding:0px;
	   margin:2.5%;
	   border:0px;}