
@font-face {font-family: helv;
			src:url(helvconlight.otf) ; }

body {margin:0;
      padding:0px;
	   border:0px;}

.butts {position:absolute;
		margin-left:60%;
		margin-top:30%;
		z-index: 40;
		cursor:pointer;}
.buttsrev {position:absolute;
		   margin-left:65%;
		   margin-top:30%;
		   z-index: 40;
		   cursor:pointer;}		

.dancebutts {position:absolute;
		margin-left:65%;
		margin-top:30%;
		z-index: 40;
		cursor:pointer;}



#dbutt  {display:block;		
		width:40px;
		height:40px;}

#dbutt2  {display:block;		
		width:40px;
		height:40px;
		margin-left: 30px;
		margin-top:-10px;}

#dbutt3 {display:block;		
		width:40px;
		height:40px;
		margin-left: -30px;
		margin-top:-39px;}

#dbutt4  {display:block;		
		width:40px;
		height:40px;
		margin-top: -10px}


#butt  {display:block;		
		width:40px;
		height:40px;}
#butt2 {display:none;		
		width:40px;
		height:40px;}
#butt3 {display:none;		
		width:40px;
		height:40px;} 
#butt4 {display:none;		
		width:40px;
		height:40px;}
#butt5 {display:none;		
		width:40px;
		height:40px;}
#butt6 {display:none;		
		width:40px;
		height:40px;}
#butt7 {display:none;		
		width:40px;
		height:40px;}
#butt8 {display:none;		
		width:40px;
		height:40px;}

#butta  {display:block;		
		width:40px;
		height:40px;}
#butt2a {display:none;		
		width:40px;
		height:40px;}
#butt3a {display:none;		
		width:40px;
		height:40px;} 
#butt4a {display:none;		
		width:40px;
		height:40px;}
#butt5a {display:none;		
		width:40px;
		height:40px;}
#butt6a {display:none;		
		width:40px;
		height:40px;}
#butt7a {display:none;		
		width:40px;
		height:40px;}
#butt8a {display:none;		
		width:40px;
		height:40px;}		


.first {z-index: 1;
		clear:both;
		float:left;}

#imgholder {display:inline;
				position:absolute;
				margin-left:0px;}

#desc {}


#exp1 {margin-top: 10%;
	   margin-left:52% ;
	   height:20px;
	   width:20px;
	   position:absolute;
	   z-index:10;
	   clear:both;
	   cursor:pointer;}		

#exp1a {margin-top:10%;
	   margin-left:52% ;
	   height:20px;
	   width:20px;
	   position:absolute;
	   z-index:10;
	   clear:both;
	   display:none;
	   cursor:pointer;}	

#exp2 {margin-top: 24%;
	   margin-left: 50.55% ;
	   height:20px;
	   width:20px;
	   position:absolute;
	   z-index:10;
	   clear:both;
	   cursor:pointer;}		   		

#exp2a {margin-top: 24%;
	   margin-left: 50.55%;
	   height:20px;
	   width:20px;
	   position:absolute;
	   z-index:10;
	   clear:both;
	   display:none;
	   cursor:pointer;}	

#exp3 {margin-top: 4%;
	   margin-left:49.25% ;
	   height:20px;
	   width:20px;
	   position:absolute;
	   z-index:10;
	   clear:both;
	   cursor:pointer;}		   		

#exp3a {margin-top: 4%;
	   margin-left:50.75% ;
	   height:20px;
	   width:20px;
	   position:absolute;
	   z-index:10;
	   clear:both;
	   display:none;
	   cursor:pointer;}	

#exp4 {margin-top: 13%;
	   margin-left:46% ;
	   height:20px;
	   width:20px;
	   position:absolute;
	   z-index:10;
	   clear:both;
	   cursor:pointer;}		   		

#exp4a {margin-top: 13%;
	   margin-left:46% ;
	   height:20px;
	   width:20px;
	   position:absolute;
	   z-index:10;
	   clear:both;
	   display:none;
	   cursor:pointer;}	



#wk {
	   height:98px;
	   width:320px;
	   position:fixed;
	   z-index:10;
	   clear:both;
	   }	

#jcas {width:89%;
	   height:89%;
	   padding:0px;
	   margin-left:9%;
	   border:0px;}

#explore {margin-top: 0px;
	   margin-left:80% ;
	   height:392px;
	   width:466px;
	   position:fixed;
	   cursor:pointer;
		clear:both;}		

.nav {margin-top: 4px;
	margin-right: 3px;
	   height:10%;
	   width:8%;}

#expr {margin-top: 0px;
		margin-right: 3px;
	   height:7%;
	   width:10%;}		

#explore2 {background-color: rgb(255, 255, 255, 0);
		margin-top: 70px;
	   margin-left:75% ;
	   margin-right: 20%;
	   height:0px;
	   padding: 5px;
	   width:0px;
	   position:fixed;
		clear:both;
		z-index: 55;
		border:2px;
		border-radius: 12px;
		cursor:pointer;}
#explore3 {margin-top: 7%;
	   height:400px;
	   padding: 5px;
	   width:320px;
	   position:fixed;
		clear:both;
		z-index: 55}		
#index {font-family: helv;
		color:white;
		font-size:17px;
		letter-spacing: .25px;
	line-height: 25px;
	 text-align:left;}
p {font-size: 0px;
	color:rgb(45, 45, 45);
	font-family: helv;
	letter-spacing: .25px;
	line-height: 25px;
	 text-align:center; }	
 /**/


@media (max-width: 400px) {
#wk {
	   height:69px;
	   width:235px;
	   position:fixed;
	   z-index:10;
	   clear:both;
	   }	

#jcas {width:275%;
	   height:275%;
	   padding:0px;
	   margin-left:-70%;
	   margin-top:34%;
	   border:0px;}

#explore {margin-top: 22%;
	   margin-left:0% ;
	   height:292px;
	   width:366px;
	   display:block;
	   position:fixed;
		clear:both;}	

.butts {position:absolute;
		margin-left:70%;
		margin-top:150%;
		z-index: 40;}
.buttsrev {position:absolute;
		   margin-left:85%;
		   margin-top:150%;
		   z-index: 40;}

#exp1 {display:none;}		

#exp1a {display:none;}	

#exp2 {display:none;}		   		

#exp2a {display:none;}	

#exp3 {display:none;}		   		

#exp3a {display:none;}	

.dancebutts {position:absolute;
			margin-left:75%;
			margin-top:130%;
			z-index: 40;}
}
