
@font-face {font-family: helv;
			src:url(helvconlight.otf) ; }

body {margin:0;
      padding:0px;
	   border:0px;}

.butts {position:absolute;
		margin-left:60%;
		margin-top:30%;
		z-index: 40;}
.buttsrev {position:absolute;
		   margin-left:65%;
		   margin-top:30%;
		   z-index: 40;}		

.dancebutts {position:absolute;
		margin-left:1000px;
		margin-top:460px;
		z-index: 40;}



#dbutt  {display:block;		
		width:40px;
		height:40px;}

#dbutt2  {display:block;		
		width:40px;
		height:40px;
		margin-left: 30px;
		margin-top:-10px;}

#dbutt3 {display:block;		
		width:40px;
		height:40px;
		margin-left: -30px;
		margin-top:-39px;}

#dbutt4  {display:block;		
		width:40px;
		height:40px;
		margin-top: -10px}


#butt  {display:block;		
		width:40px;
		height:40px;}
#butt2 {display:none;		
		width:40px;
		height:40px;}
#butt3 {display:none;		
		width:40px;
		height:40px;} 
#butt4 {display:none;		
		width:40px;
		height:40px;}
#butt5 {display:none;		
		width:40px;
		height:40px;}
#butt6 {display:none;		
		width:40px;
		height:40px;}
#butt7 {display:none;		
		width:40px;
		height:40px;}
#butt8 {display:none;		
		width:40px;
		height:40px;}

#butta  {display:block;		
		width:40px;
		height:40px;}
#butt2a {display:none;		
		width:40px;
		height:40px;}
#butt3a {display:none;		
		width:40px;
		height:40px;} 
#butt4a {display:none;		
		width:40px;
		height:40px;}
#butt5a {display:none;		
		width:40px;
		height:40px;}
#butt6a {display:none;		
		width:40px;
		height:40px;}
#butt7a {display:none;		
		width:40px;
		height:40px;}
#butt8a {display:none;		
		width:40px;
		height:40px;}		


.first {z-index: 1;
		clear:both;
		float:left;}

#imgholder {display:inline;
				position:absolute;
				margin-left:0px;
}


#exp1 {margin-top: 10%;
	   margin-left:52% ;
	   height:20px;
	   width:20px;
	   position:fixed;
	   z-index:10;

	   clear:both;}		

#exp1a {margin-top:10%;
	   margin-left:52% ;
	   height:20px;
	   width:20px;
	   position:fixed;
	   z-index:10;
	   clear:both;
	   display:none;}	

#exp2 {margin-top: 24%;
	   margin-left: 50.55% ;
	   height:20px;
	   width:20px;
	   position:fixed;
	   z-index:10;
	   clear:both;}		   		

#exp2a {margin-top: 24%;
	   margin-left: 50.55%;
	   height:20px;
	   width:20px;
	   position:fixed;
	   z-index:10;
	   clear:both;
	   display:none;}	

#exp3 {margin-top: 4%;
	   margin-left:49.25% ;
	   height:20px;
	   width:20px;
	   position:fixed;
	   z-index:10;
	   clear:both;}		   		

#exp3a {margin-top: 4%;
	   margin-left:49.25% ;
	   height:20px;
	   width:20px;
	   position:fixed;
	   z-index:10;
	   clear:both;
	   display:none;}	


#wk {
	   height:98px;
	   width:320px;
	   position:fixed;
	   z-index:10;
	   clear:both;
	   }	

#jcas {width:89%;
	   height:89%;
	   padding:0px;
	   margin-left:9%;
	   border:0px;}

#explore {margin-top: 0px;
	   margin-left:80% ;
	   height:392px;
	   width:466px;
	   position:fixed;
		clear:both;}		

.nav {margin-top: 4px;
	margin-right: 3px;
	   height:10%;
	   width:8%;}

#expr {margin-top: 0px;
		margin-right: 3px;
	   height:7%;
	   width:10%;}		

#explore2 {background-color: rgb(255, 255, 255, 0);
/*		margin-top: 70px;
	   margin-left:75% ;
	   margin-right: 20%;*/
	   height:0px;
	   padding: 5px;
	   width:0px;
	   position:fixed;
		clear:both;
		z-index: 55;
		border:2px;
		border-radius: 12px;}

p {font-size: 0px;
	color:rgb(45, 45, 45);
	font-family: helv;
	letter-spacing: .25px;
	line-height: 25px;
	 text-align:center; }	
 /**/


/*@media (max-width: 770px) {
  #jcas {width:983.2px;
	   height:552.96px;
	   margin-left:-220px;
	   margin:2.5%;
	   border:0px;}

	#wk {margin-top: 5px;
	   margin-left:0px ;
	   height:208px;
	   width:243px;
	   position:fixed;
	   z-index:10;
	   clear:both;
	   display:block;}
}*/
